/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
    top: 51px;
    bottom: 0;
    left: 0;
    display: block;
}
